:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #f8f9fb;
    --ion-background-color: var(--background);
    --ion-tab-bar-background: var(--ion-background-color);
    --ion-toolbar-background: var(--ion-background-color);
    --ion-color-primary: #be4747;
    --ion-color-secondary: #3dc2ff;
    --ion-color-tertiary: #be4747;
    --ion-color-success: #2dd36f;
    --ion-color-warning: #ffc409;
    --ion-color-danger: #eb445a;
    --ion-color-medium: #92949c;
    --ion-color-light: #f4f5f8;
    --background-color-card: #f4f5f8;
    --inner-border-width: 0px 0px 0px 0px !important;
}

ion-item:deep(*) {
    --border-color: #dfdfe1;
}


[data-theme="dark"] {
    --background: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --background-color-card: #222222;

    ion-item:deep(*) {
        --border-color: #434343;
    }
}

[data-theme="paper"] {
    --background: #f5e6d3;
    --ion-background-color-rgb: 245, 230, 211;
    --ion-text-color: #2c1810;
    --ion-text-color-rgb: 44, 24, 16;
    --ion-border-color: #d4b594;
    --background-color-card: #dac7af;
    ion-item:deep(*) {
        --border-color: #c5b096;
    }

}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
