@font-face {
    font-family: 'BreviariumSerif';
    src: url('/src/modules/app/assets/fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: 100 400; /* Variable font range, adjust as needed */
    font-style: normal;
}

@font-face {
    font-family: 'BreviariumSerif';
    src: url('/src/modules/app/assets/fonts/NotoSerif-SemiBold.ttf') format('truetype');
    font-weight: 500 900; /* Variable font range, adjust as needed */
    font-style: normal;
}

@font-face {
    font-family: 'BreviariumSerif';
    src: url('/src/modules/app/assets/fonts/NotoSerif-Italic.ttf') format('truetype');
    font-weight: 100 400; /* Variable font range, adjust as needed */
    font-style: italic;
}

@font-face {
    font-family: 'BreviariumSerif';
    src: url('/src/modules/app/assets/fonts/NotoSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: 500 900; /* Variable font range, adjust as needed */
    font-style: italic;
}

body {
    font-size: 17px;
}

:root {
    --ion-font-family: "BreviariumSerif", serif;

    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --brown-sugar: #BA8269ff;
    --smoky-black: #0D0505ff;
    --saffron: #F5C13Fff;
    --cocoa-brown: #E26F19ff;
    --yinmn-blue: #3D5495ff;

    --gold-color: #dda21f;

    --breviarium-primary: #be4747;

    --background: #f8f9fb;
    --background-accent: #d5d5d5;
    --border-color-light: #e8e8e8;
    --ion-background-color: var(--background);
    --ion-tab-bar-background: rgba(255, 255, 255, 0.86);
    --ion-toolbar-background: var(--ion-background-color);
    --ion-overlay-background-color: var(--ion-background-color);
    --ion-tab-bar-border-color: var(--border-color-light);
    --ion-color-primary: var(--breviarium-primary);
    --ion-color-secondary: #3dc2ff;
    --ion-color-tertiary: #be4747;
    --ion-color-success: #2dd36f;
    --ion-color-warning: #ffc409;
    --ion-color-danger: #eb445a;
    --ion-color-medium: #92949c;
    --ion-color-light: #f4f5f8;
    --background-color-card: #e9ebed;
    --inner-border-width: 0px 0px 0px 0px !important;
    --background-card-shadow: #be4747;
    --ion-tab-bar-color: #666;
    --ion-tab-bar-color-selected: var(--breviarium-primary);
    --ion-color-step-400: var(--ion-tab-bar-color);
    --background-hover: var(--ion-tab-bar-color);
    --wheel-highlight-background: var(--background);
    --background-rgb: var(--background);
    --ion-toolbar-color: var(--ion-color-primary);

    ion-item::part(native) {
        --border-color: var(--border-color-light); /* navbar & ion-item border */
    }
}

[data-theme="dark"] {
    --background: #121212;
    --background-accent: #272727;
    --ion-tab-bar-background: rgba(18, 18, 18, 0.86);
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #272727; /* top header border */
    --background-color-card: #222222;
    --border-color-light: #1b1a1a; /* navbar & ion-item border */
    --background-card-shadow: #be4747;
    --ion-tab-bar-color: #989898;
    --ion-color-primary: var(--background-card-shadow);
}

[data-theme="paper"] {
    --background: #f5e6d3;
    --background-accent: #cfbba1;
    --ion-tab-bar-background: rgba(245, 230, 211, 0.86);
    --ion-background-color-rgb: 245, 230, 211;
    --ion-text-color: #2c1810;
    --ion-text-color-rgb: 44, 24, 16;
    --ion-border-color: #d4b594; /* top header border */
    --background-color-card: #e1d0ba;
    --border-color-light: #e1d0ba; /* navbar & ion-item border */
    --background-card-shadow: #b1773c;
    --ion-tab-bar-color: #85613d;
    --ion-color-primary: var(--background-card-shadow);
}

[data-theme="moon"] {
    --background: #15202b;
    --background-accent: #4e82b8;
    --ion-tab-bar-background: rgba(21, 32, 43, 0.86);
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #1e3249; /* top header border */
    --background-color-card: #1b2e42;
    --border-color-light: #162637; /* navbar & ion-item border */
    --background-card-shadow: #4e82b8;
    --ion-tab-bar-color: #5a7c9f;
    --ion-color-primary: var(--background-card-shadow);
}

a {
    font-weight: 500;
    color: var(--ion-color-primary);
    text-decoration: inherit;
    transition: all 0.15s ease-in-out;
}

a:hover {
    color: var(--color);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.title-color {
    color: var(--breviarium-primary);
}

.text-red {
    color: var(--breviarium-primary);
}

.text-right, .right {
    text-align: right;
}

.text-center, .center {
    text-align: center;
}

.light-1 {
    opacity: 0.9
}

.light-2 {
    opacity: 0.8
}

.light-3 {
    opacity: 0.7
}

.italic {
    font-style: italic;
}

.prayer-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --border-radius: 8px;
    --background: var(--background-color-card);
    border: 0 solid var(--border-color);
    cursor: pointer;
}

.btn {
    transition: all 0.15s ease-out;

    &:active {
        transform: scale(0.98);
    }
;
}